set -g fish_greeting

set -gx EDITOR nvim
set -gx FZF_DEFAULT_COMMAND "fd --type f --hidden --follow --exclude .git"
set -gx FZF_DEFAULT_OPTS "\
  --height 40% --layout=reverse --border \
  --bind 'ctrl-/:toggle-preview' \
  --color=bg+:#1a1f29,bg:#0b0e14,spinner:#e6b450,hl:#ea6c73 \
  --color=fg:#bfbdb6,header:#ea6c73,info:#cda1fa,pointer:#e6b450 \
  --color=marker:#59c2ff,fg+:#bfbdb6,prompt:#cda1fa,hl+:#f07178 \
  --color=selected-bg:#409fff \
  --color=border:#686868,label:#bfbdb6"
set -gx FZF_CTRL_T_COMMAND "$FZF_DEFAULT_COMMAND"
set -gx FZF_CTRL_T_OPTS "--preview 'bat --color=always --style=numbers {}'"
set -gx RIPGREP_CONFIG_PATH ~/.config/ripgrep/config
set -gx MCFLY_RESULTS 40
set -gx MCFLY_FUZZY 2

if status is-interactive
  abbr -a -- cz chezmoi
  abbr -a -- gpf 'git push --force-with-lease'
  abbr -a -- gst 'git status'
  abbr -a -- gcb 'git checkout -b'
  abbr -a -- gd 'git diff'
  abbr -a -- gup 'git pull --rebase'
  abbr -a -- gco 'git checkout'
  abbr -a -- gp 'git push'
  abbr -a -- gac 'git add -A && git commit'
  abbr -a -- lg lazygit
  abbr -a -- ss skillshare
  abbr -a -- cat bat
  abbr -a -- ls eza
  abbr -a -- la 'eza -la'
  abbr -a -- ll 'eza -l'
  abbr -a -- lt 'eza --tree --level=2'
{{- if eq .chezmoi.os "darwin" }}

  abbr -a oc 'set -gx OPENROUTER_API_KEY (op read "op://Private/ymlfds7jrnj3opetd3k7bqei6i/credential"); opencode'
{{- end }}
end

fish_add_path ~/.local/bin
{{ if eq .chezmoi.os "darwin" }}
{{ output "brew" "--prefix" | trim }}/bin/brew shellenv | source
op completion fish | source
{{ end }}
if status is-interactive
  mise activate fish | source
else
  mise activate fish --shims | source
end

starship init fish | source
zoxide init fish | source
mcfly init fish | source
