[core]
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta
[delta]
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha
	hyperlinks = true
	minus-style = "#f38ba8" "#3e2e40"
	minus-non-emph-style = "#f38ba8" "#3e2e40"
	minus-emph-style = "#f38ba8" "#5e3f53"
	minus-empty-line-marker-style = normal "#3e2e40"
	plus-style = "#a6e3a1" "#323c3f"
	plus-non-emph-style = "#a6e3a1" "#323c3f"
	plus-emph-style = "#a6e3a1" "#475951"
	plus-empty-line-marker-style = normal "#323c3f"
	line-numbers-minus-style = "#f38ba8"
	line-numbers-plus-style = "#a6e3a1"
[user]
	name = David Stotijn
	email = dstotijn@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
