[core]
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta
[delta]
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = ayu-dark
	hyperlinks = true
[user]
	name = David Stotijn
	email = dstotijn@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
